<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/ProfileCss.css">
    <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="navbar">
                <div class="logo">FOODBANK AUSTRALIA</div>
                <nav>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/location.html">Location</a></li>
                        <li><a href="#" id="logout-button" @click="loadSection('logout')">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="#" @click="loadSection('info')">Personal Info</a></li>
                <li><a href="/user/activities">Organization Activities</a></li>
                <li><a href="/user/announcements">Announcements</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="profile-card">
                <div class="profile-header">
                    <div style="display: flex;align-items: flex-start;">
                        <div style="margin-left: 20px;display: flex;flex-direction: column;align-items: flex-start;">
                            <h1>{{ user[0].user_name }}</h1>
                            <p class="tagline">Organization: {{ getBranchName(user[0].branch_id) }}</p>
                        </div>
                        <img :src="avatar" alt="User Avatar" class="avatar" id="avatarImage">
                    </div>
                </div>


                <input type="file" id="fileInput" style="display: none;" @change="handleFileChange" accept="image/*">
                <div class="profile-info" v-if="user && user.length > 0 && user[0]">
                    <h2>Personal Details</h2>
                    <ul>
                        <li><strong>Username:</strong> <span>{{ user[0].user_name }}</span></li>
                        <li><strong>Email:</strong> <span>{{ user[0].email }}</span></li>
                        <li><strong>Full Name:</strong> <span>{{ user[0].phone_number }}</span></li>
                        <li><strong>Phone Number:</strong> <span>{{ user[0].phone_number }}</span></li>
                    </ul>
                    <div style="flex-direction: row;">
                        <button type="button" id="showEditModal" @click="showEditModal = !showEditModal">Edit User Info</button>
                        <!-- <button type="button" id="showChangePasswordModal" @click="showChangePasswordModal = !showChangePasswordModal">Change Password</button> -->
                    </div>

                </div>
            </div>
        </div>





        <div name="modal">
            <div id="editModal" class="modal-overlay" v-if="showEditModal">
                <div class="modal-container">
                    <div class="modal-header">
                        <h3>Edit Information</h3>
                        <button type="button" class="close" @click="showEditModal = false">✖</button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="saveUserInfo">
                            <label for="username">Username:</label>
                            <input type="text" v-model="editUserInfo[0].user_name">
                            <label for="email">Email:</label>
                            <input type="text" v-model="editUserInfo[0].email">
                            <label for="fullname">Full Name:</label>
                            <input type="text" v-model="editUserInfo[0].full_name">
                            <label for="phone_number">Phone Number:</label>
                            <input type="text" v-model="editUserInfo[0].phone_number">
                            <button type="button" id="showChangePasswordModal" @click="showChangePasswordModal = !showChangePasswordModal">Change Password</button>
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div name="modal">
            <div id="changePasswordModal" class="modal-overlay" v-if="showChangePasswordModal">
                <div class="modal-container">
                    <div class="modal-header">
                        <h3>Change Password</h3>
                        <button type="button" @click="showChangePasswordModal = false">X</button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="saveNewPassword">
                            <label for="newPassword">New Password:</label>
                            <input type="password" v-model="newPassword">
                            <span id="passwordError" style="color: red;" v-if="passwordError">{{ passwordError }}</span>
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    user: [],
                    branches: [],
                    editUserInfo: [],
                    showEditModal: false,
                    showChangePasswordModal: false,
                    avatar: '../pictures/1.jpg',
                    newPassword: '',
                    passwordError: '',
                    error: '',
                    currentSection: 'profile',
                };
            },
            methods: {
                fetchBranches() {
                    fetch('/api/branches', {
                        method: 'GET',
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("Loaded branches:", data);
                        this.branches = data;
                    })
                    .catch(error => console.error('Error loading branches:', error));
                },
                fetchBranchId() {
                    fetch('/user/api/branch_id')
                    .then(response => response.json())
                    .then(data => {
                        console.log("Got user branch id:", data);
                        this.managerBranchId = data;
                    })
                    .catch(error => console.error('Error loading the managerBranchId:', error));
                },
                getBranchName(branchId) {
                    // Find the branch with the given ID and return its name
                    const branch = this.branches.find(branch => branch.branch_id === branchId);
                    return branch ? branch.branch_name : 'Unknown';  // Return 'Unknown' if no branch is found
                },
                fetchManagerInfo() {
                    fetch('/user/api/user_info', {
                        method: 'GET',
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("Loaded user:", data);
                        this.user = data;
                        this.editUserInfo = data;
                        console.log("Loaded editUserInfo:", data);
                    })
                    .catch(error => console.error('Error loading the user-info:', error));
                },
                async saveUserInfo() {
                    console.log(this.editUserInfo);
                    try {
                        const managerUserId = this.user[0].user_id;
                        const response = await fetch(`/user/api/user/${managerUserId}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(this.editUserInfo[0])
                        });
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        const data = await response.json();
                        if (data.success) {
                            this.fetchManagerInfo();
                            this.showEditModal = false;
                        } else {
                            this.error = `Failed to save user info: ${data.message}`;
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        this.error = `An error occurred while saving user info: ${error.message}`;
                    }
                },
                triggerFileInput() {
                    this.$refs.fileInput.click();
                },
                handleFileChange(event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            this.avatar = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    }
                },
                async saveNewPassword() {
                    if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_])[A-Za-z\d_]{8,}$/.test(this.newPassword)) {
                        this.passwordError = "The password does not meet the requirements, please contain uppercase and lowercase letters, underscores and numbers, and at least 8 supplements";
                        return;
                    }
                    try {
                        const response = await fetch('/user/api/User/changePassword', {
                            method: 'POST',
                            headers: {
                                'Authorization': 'Bearer ' + this.getCookie('token'),
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ newPassword: this.newPassword })
                        });
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        const data = await response.json();
                        if (data.success) {
                            alert('Password has been updated!');
                            this.showChangePasswordModal = false;
                        } else {
                            this.passwordError = `Failed to change password: ${data.message}`;
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        this.passwordError = `An error occurred while changing password: ${error.message}`;
                    }
                },
                getCookie(name) {
                    const cookieArr = document.cookie.split(";");
                    for (let i = 0; i < cookieArr.length; i++) {
                        const cookiePair = cookieArr[i].split("=");
                        if (name == cookiePair[0].trim()) {
                            return decodeURIComponent(cookiePair[1]);
                        }
                    }
                    return null;
                },
                loadSection(section) {
                    console.log('load section!');
                    if (section === 'logout') {
                        fetch('/user/logout', { method: 'GET' })
                        .then(response => {
                            window.location.href = '/login.html';
                        })
                        .catch(error => {
                            console.error('Logout failed:', error);
                        });
                    } else if (section === 'info') {
                        window.location.href = '/user/profile'; // Ensure this path is correct
                    } else if (section === this.currentSection) {
                        window.location.reload();
                    }
                },
                changePassword() {
                    this.showChangePasswordModal = true;
                    console.log('showChangePasswordModal:', this.showChangePasswordModal); // 调试模态框显示状态
                },
            },
            mounted() {
                this.fetchManagerInfo();
                this.fetchBranches();
                this.fetchBranchId();
            }
        });
        app.mount('#app');
    </script>
</body>
</html>
