body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
}

.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 45px
}

.logo {
    font-size: 1.65rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #020402;
    text-decoration: none;
    padding-left: 60px;
}

.navbar nav {
    display: flex;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 0 15px;
}

.navbar nav ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 6px;
    width: 60px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    overflow: hidden;
}

.navbar nav ul li:last-child {
    margin-right: 100px;
}
.navbar nav ul li a:hover {
    color: #32aa27;
    text-decoration: underline;
}

.sidebar {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100%;
    background-color: #272727;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    position: fixed;
    top: 80px;
    margin-left: 280px;
    padding: 20px 40px;
}

.user-info p {
    font-size: 16px;
    line-height: 24px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.activity-container {
    width: 100%;
    border-collapse: collapse; /* Eliminates space between borders */
}

.activity-container th, .activity-container td {
    border-bottom: 1px solid #ddd; /* Only horizontal border */
    padding: 8px;
    text-align: left; /* Align text to the left or use 'center' for center alignment */
}

.activity-container th {
    background-color: #f4f4f4; /* Slight gray background for headers */
}

.activity-image {
    width: 100px; /* Adjust according to your needs */
    height: 100px; /* Keep square ratio for aesthetics */
}

.activity-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.activity-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.activity-text {
    flex: 1;
    margin-right: 10px;
}

.activity-join {
    margin-left: auto;
}


.avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.avatar {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.avatar-container:hover .overlay {
    opacity: 1;
}

/* Base styles for modal */
.modal_changeinfo{
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Semi-transparent black background */
}

.modal_changepass {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Styling for modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    z-index: 2;
}

/* Styling for close button */
.close {
    color: #aaaaaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

/* Hover effects for close button */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Ensures form elements are vertically aligned */
.modal-content form {
    display: flex;
    flex-direction: column;
}

/* Margin for labels in form */
.modal-content label {
    margin-top: 10px;
}

/* Margin for input elements and buttons in form */
.modal-content input,
.modal-content button {
    margin-top: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.modal-header h3 {
    margin: 0;
}

.modal-header button {
    background: #363636;
    border: none;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1;

    color: #aaaaaa;
    float:right;


}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body label {
    font-weight: bold;
}

.modal-body input[type="text"],
.modal-body textarea,
.modal-body select,
.modal-body button[type="submit"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 95%;
    margin-bottom: 10px;
}

.modal-body textarea {
    width: calc(100% - 20px);
}

.modal-body button[type="submit"] {
    background-color: #363636;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-body button[type="submit"]:hover {
    background-color: #424242;
}

/* * {
margin: 0;
padding: 0;
box-sizing: border-box;
} */

.profile-card {
    background: #fff;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #333;
    padding: 20px;
    margin-top: 40px;
  }

  .profile-header {
    position: relative;
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .profile-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }

  .tagline {
    font-size: 14px;
    color: #888;
    align-items: flex-start;
  }

  .profile-info, .profile-projects {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .profile-info h2, .profile-projects h2 {
    font-size: 24px;
    color: #222;
    margin-bottom: 10px;
    text-align: left;
  }

  ul {
    list-style-type: none;
    text-align: left;
    margin-left: 0px;
  }

  .profile-info ul li {
    margin-bottom: 10px;
    margin-left: -30px;
  }

  ul li strong {
    font-weight: bold;
  }

  .profile-footer {
    font-size: 14px;
    color: #aaa;
    margin-top: 20px;
  }

  .profile-footer p {
    margin: 0;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 15px;
  }

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #363636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}